/* 0 solid #e5e7eb */

.profit-color {
    color: #4be24b;
}

.loss-color {
    color: #e03535;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

td {
    width: max-content;
}

.modal-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.sec-text{
    color: var(--sec-text);
}

button.login {
    background-color: var(--border-color);
    padding: .5rem 1rem;
    border-radius: .5rem;
}

input {
    border: 1px solid var(--border-color);
    outline: none;
    border-radius: 6px;
    background-color: var(--secondary-color);
    padding: .5rem !important;
    font-size: small;
    width: 250px;
}

.buy-button {
    background-color: #4be24b;
    border-radius: 12px;
    color: white;
    font-weight: 400;
    transition: all 250ms;
    max-width: 400px;
}

.buy-button:hover {
    -webkit-box-shadow: 0px 0px 20px 2px rgba(75, 226, 75, 0.9);
    -moz-box-shadow: 0px 0px 20px 2px rgba(75, 226, 75, 0.9);
    box-shadow: 0px 0px 20px 2px rgba(75, 226, 75, 0.9);
}

.sell-button {
    background-color: #e03535;
    border-radius: 12px;
    color: white;
    font-weight: 400;
    transition: all 250ms;
    max-width: 400px;
}

.sell-button:hover {
    -webkit-box-shadow: 0px 0px 20px 2px rgba(224, 53, 53, 0.9);
    -moz-box-shadow: 0px 0px 20px 2px rgba(224, 53, 53, 0.9);
    box-shadow: 0px 0px 20px 2px rgba(224, 53, 53, 0.9);
}

.blue {
    color: var(--blue-color);
}

.activeRange {
    background-color: #1450A3;
    color: #fff;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(20, 79, 163, 0.7);
    -moz-box-shadow: 0px 0px 10px 1px rgba(20, 79, 163, 0.7);
    box-shadow: 0px 0px 10px 1px rgba(20, 79, 163, 0.7);
}

.range-button {
    transition: all 200ms;
}

.rank-label {
    background-color: var(--border-color);
}

.coin-details-container {
    min-width: 250px;
}

.navbar {
    border-bottom: 1px solid var(--border-color);
}

.nav-item {
    padding: .5em 1em;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    transition: all 250ms;
    font-weight: 500;
}

.nav-item.active {
    color: var(--blue-color);
    font-weight: 800;
}

.nav-item:hover {
    background-color: var(--blue-color);
    color: white;
}

.cryptos-page {
    max-width: 1280px;
    margin: 0 auto;
}

td {
    padding: .2em 0;
    text-align: center;
}

tr:hover {
    background-color: var(--border-color);
}

tr {
    border: 2px solid transparent;
    transition: all 500ms;
    border-bottom: 2px solid var(--border-color);
}

th {
    padding: 1em 0;
    font-weight: 700;
    border: 1px solid var(--border-color);
}

tbody {
    font-weight: 500;
}

.card {
    background-color: var(--secondary-color);
    border-radius: 12px;
    transition: all 300ms;
    border: 1px solid var(--border-color);
    user-select: none;
}

.card:hover {
    border: 1px solid var(--border-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
}

td.overflow-column {
    max-width: 120px;
}

.transaction-card {
    transition: all 300ms;
}

.transaction-card:hover {
    background-color: rgba(249, 249, 249, .6) !important;
}