@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --body-background: #f9fbfd;
  --secondary-color: #1c1d26;
  --border-color: #d3d3d3;
}

[data-theme="dark"] {
  --body-background: #242528;
  --secondary-color: #37363a;

  --border-color: #4c4c4d;

  --text-color: #ffffffdf;
  --blue-color: #5160f9;

  --sec-text: #ffffffdf;

  --second-gray: #ffffffc0;
}

[data-theme="light"] {
  --body-background: #f9fbfd;
  --secondary-color: #fff;
  --border-color: #d3d3d3;

  --text-color: #12263f;
  --blue-color: #1450A3;

  --sec-text: #000;
  --second-gray: #3e3d3d;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: var(--body-background);
  color: var(--text-color);
  font-size: 14px;

  transition: background-color 300ms;
}